.footer {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

body {
  background-color: #fff;
}
.main-navbar {
  padding: 24px;
  align-items: center;
}

.brand-image {
  width: 220px;
  height: 50px;
}

.mainContainer {
  background-color: #fff;
  border: 2px solid #f8ded4;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.topBarContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.searchTitle {
  color: #4d4c4c;
  margin-bottom: 0.5rem;
}

.searchInput {
  background-color: #fef3ee;
  border: 1px solid #f8ded4;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.searchInput .searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.searchInput .searchIcon:hover {
  opacity: 0.8;
}

.searchInput .searchIcon:active {
  opacity: 0.6;
}

.searchInputform {
  border: none;
  background-color: #fef3ee;
  width: 100%;
  color: #000;
  outline: none;
}

.dropdown {
  width: 100%;
  background-color: #f8f8f8;
}

.btn-group {
  width: 100%;
  background-color: #f8f8f8;
  color: #000;
  justify-content: space-between;
  align-items: center;
}

.btn-group div {
  text-align: left;
}

.dropdown-item {
  color: #f1f1f1;
}

.btn-search {
  width: 100%;
  background-color: #ee4035;
  color: #fff;
}

.btn-cancel {
  width: 100%;
  background-color: #fff;
  color: #000;
}

.btn-search:hover {
  background-color: #ee4035;
  color: #fff;
}

.modal-header h2 {
  color: #000;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-header {
  padding: 2px 16px;
  background-color: #fff;
  color: black;
  justify-content: space-between;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 40%;
  height: fit-content;
  overflow: auto;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  font-size: 18px;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 36px 16px;
}

.radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: white;
  padding-top: 8px;
  border-radius: 8px;
  width: 90%;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-label {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #f0f0f0;
}

.radio-label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.radio-group :checked + .radio-label {
  border-color: #ff0000;
  color: #ff0000;
  font-weight: bold;
}

.radio-group :checked + .radio-label::before {
  background-color: #ff0000;
  border-color: #ff0000;
  content: "✔";
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 56px;
  align-items: center;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
  justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 60px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  height: 1px;
  background-color: #dbdbdb;
  margin: 0px 56px 0px 56px;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
  margin-top: 56px;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #ee4035;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border: 3px solid #ee4035;
  /* Define a border with width, style, and color */
}

/* input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-width: 6px;
  border: #EE4035;
} */

.modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
}
